<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <a href="bookmarklets.html" class="component-navlink">
      <span>Bookmarklets</span>
      <br />
    </a>
    <span class="component-text02"><span>Meet The Team</span></span>
    <span class="component-text03">
      <span>Gxmes</span>
      <br />
      <br />
    </span>
    <a href="index.html" class="component-navlink1"><span>Home Page</span></a>
    <span class="component-text07">
      <span class="component-text08">Pr0xies</span>
      <br />
      <br />
    </span>
  </div>
</div>
